@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* 
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("./images/bg-3.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  font-family: "Baloo Bhai 2", cursive;
}
